.vscode/c_cpp_properties.json
obj/*.o
.vscode/settings.json
VSC_Workspace
ROTBOSON
ROTBOSON_WS
src/.vscode/c_cpp_properties.json
src/.vscode/settings.json
out*/*
parfile.par
*.ipynb
.ipynb_checkpoints/*